<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello Everyone! My name is Landon Schmader and I am a junior at Allegheny College. I am a mathematics major with an economics minor because I would like to become an actuary in the future. Along with my studies, I am a member of the cross country team, a peer mentor.</p>
      </div>
      <div class="col-lg-4">
        <p>I hope you enjoy reading about some of my experience and classes that I have taken! I think my experience is very relevant to my field of interest and I hope you think so too! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
